/* место для вашего кода */
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-top: 68px;
  margin-bottom: 96px;
  padding: 0 11px;
}

.header-menu {
  display: flex;
  gap: 10px;
}

.header-logo {
  position: absolute;
  left: calc(50% - 69px);
}

.logo {
  width: 138px;
  height: auto;
}

.header-menu__item {
  padding: 0;
  list-style: circle;
  letter-spacing: 1.4px;
}

.header-menu__item.active {
  list-style: none;
}
.header-menu__item.active .header-menu__item-link {
  border-bottom: none;
}

.header-menu__item-link {
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  letter-spacing: 1px;
}

.contacts-block {
  max-width: 240px;
  width: 100%;
  margin-right: 38px;
  line-height: 1.5;
  position: relative;
  font-style: normal;
}

.nowrap {
  white-space: nowrap;
}

.d-block {
  display: block;
}

.contacts-block__link {
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 0px;
  width: fit-content;
}

.cover {
  min-height: 757px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-position: center;
  background-position-y: 50%;
  background-position-x: 53%;
  background-size: 131%;
}

.overlay:before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover-header {
  margin: 0 50px;
  position: relative;
}

.cover-header__title {
  color: #ffffff;
  align-items: center;
  font-size: 100px;
  text-transform: uppercase;
  padding-top: 167px;
  margin-top: 2px;
  letter-spacing: 30px;
  line-height: 100px;
}

.cover-header__title-text-left {
  display: block;
  line-height: 115px;
}

.cover-header__title-text-center {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.cover-header__title-text-right {
  display: block;
  text-align: right;
  margin-top: 20px;
}

.cover-header__title-text-symbol {
  letter-spacing: 60px;
}

.cover-header__title-text-symbol--spacing {
  letter-spacing: 0;
}

.cover-content {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-left: 82px;
  margin-bottom: 49px;
  margin-right: 49px;
  color: #ffffff;
  align-items: center;
  position: relative;
}

.cover-content__text {
  width: 100%;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 28px;
  word-spacing: 18px;
}

.cover-content__button {
  white-space: nowrap;
  background: transparent;
  color: #ffffff;
  border: 1px solid white;
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 32px;
}

.lots {
  margin: 0 24px;
}

.lots-title {
  margin: 179px 0 27px 40px;
  text-transform: uppercase;
  line-height: 47px;
  font-size: 40px;
}

.lots-cards {
  gap: 25px;
  display: flex;
  justify-content: space-between;
}

.lots-cards__item {
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  width: 334px;
  min-height: 563px;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
}

.lots-cards__item-link {
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 26px;
  font-size: 22px;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.lots-cards__item-text {
  position: relative;
  color: #ffffff;
  line-height: 24px;
  font-size: 20px;
  font-weight: 100;
  display: block;
  margin-top: auto;
}

.lots-showmore {
  text-decoration-thickness: 1px;
  display: block;
  margin-top: 31px;
  margin-left: 42px;
  font-size: 20px;
  line-height: 23px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  margin: 146px 24px 0;
  display: flex;
}

.about-logo {
  border-radius: 50%;
  background-color: black;
  min-width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
  margin-top: 35px;
}

.about-logo__image {
  width: 148px;
}

.about-content {
  margin-top: 133px;
  margin-left: 72px;
}

.about-content__title {
  text-transform: uppercase;
  font-size: 40px;
  line-height: 47px;
  margin-top: 1px;
  margin-left: -1px;
}

.about-content__text {
  margin-top: 101px;
  line-height: 24px;
  font-size: 20px;
}

.about-content__text p + p {
  margin-top: 26px;
}

.footer {
  margin: 178px 50px 91px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-menu {
  margin: 0;
  position: relative;
  padding-left: 15px;
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
  text-align: center;
}

.footer-menu__item.active .footer-menu__item-link {
  text-decoration: none;
  border-bottom: none;
  padding-bottom: 0;
}

.footer-menu__item-link {
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 1px;
}

.footer-socials {
  display: flex;
}

.footer-socials__item img {
  width: 48px;
  margin-left: 48px;
}

.footer-contacts {
  margin-top: -4px;
}
