/* место для вашего кода */
.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-top: 68px;
    margin-bottom: 98px;
    padding: 0 11px;
}

.header-menu {
    display: flex;
    gap: 10px;
}

.header-logo {
   position: absolute;
   left: calc(50% - 69px);
}

.logo {
    width: 138px;
    height: auto;
}

.header-menu__item {
    padding: 0;
    list-style: circle;
    letter-spacing: 1.4px;
}

.header-menu__item.active {
    list-style: none;
}
.header-menu__item.active .header-menu__item-link {
    border-bottom: none;
}

.header-menu__item-link {
    text-decoration: none;
    border-bottom: 1px solid black;
}

.header-contacts {
    max-width: 240px;
    width: 100%;
    margin-right: 38px;
    line-height: 1.5;
    position: relative;
    letter-spacing: 1.19px;
}

.cover {
    height: 757px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-position: cover;
    position: relative;
    background-position: center;
    background-size: cover;
}

.cover::before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6); 
}

.cover-header {
    margin: 0 55px;
    position: relative;
}

.cover-header__title {
color: #FFFFFF;
align-items: center;
font-size: 100px;
text-transform: uppercase;
padding-top: 167px;
letter-spacing: 20px;
line-height: 1.2;
}

.cover-header__title-text-left {
display: block;
}

.cover-header__title-text-center {
display: block;
text-align: center;
position: relative;
left: -11px;
top: 3px;
letter-spacing: 28px;
}

.cover-header__title-text-right {
display: block;
text-align: right;
}

.cover-header__title-text-symbol {

}

.cover-content {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-left: 82px;
    margin-bottom: 49px;
    margin-right: 49px;
    color: #FFFFFF;
    align-items: center;
    position: relative;
}

.cover-content__text {
    width: 100%;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 28px;
    word-spacing: 17px;
}

.cover-content__button {
    white-space: nowrap;
    background:transparent;
    color: #FFFFFF;
    border-color: white;
    border-width: 1px;
    font-size: 22px;
    text-transform: uppercase;
    padding: 12px 32px;
}


.lots {
margin: 0 24px;
}

.lots-title {
margin: 179px 0 27px 40px;
text-transform: uppercase;
line-height: 47px;
font-size: 40px;
}

.lots-cards {
gap: 25px;
display: flex;
justify-content: space-between;
}

.lots-cards__item {
    display: flex;
    flex-direction: column;
padding: 48px 40px;
width: 334px;
height: 563px;
background-position: center;
background-size: cover;
position: relative;
z-index: 1;


}

.lots-cards__item::before {
content: " ";
display: block;
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
background-color: rgba(0, 0, 0, 0.6);
}

.lots-cards__item-link {
position: relative;
color: #FFFFFF;
text-transform: uppercase;
line-height: 26px;
font-size: 22px;
text-decoration: underline;
}

.lots-cards__item-text {
position: relative;
color: #FFFFFF;
line-height: 24px;
font-size: 20px;
font-weight: 100;
display: block;
margin-top: auto;
}

.lots-showmore {
    display: block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 23px;
}


.about {
margin: 146px 24px 0;
display: flex;

}

.about-logo {
    border-radius: 50%;
background-color: black;
min-width: 240px;
height: 240px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 47px;
margin-top: 35px;
}

.about-logo__image {
width: 148px;
}

.about-content {
margin-top: 133px;
margin-left: 72px;
}

.about-content__title {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 47px;
}

.about-content__text {
margin-top: 101px;
line-height: 24px;
font-size: 20px;
}

.about-content__text p +p{
    margin-top: 26px;
}


.footer {
margin: 178px 50px 91px;
display: flex;
justify-content: space-between;
align-items: center;

}

.footer-contacts {
    max-width: 240px;
    width: 100%;
    margin-right: 38px;
    line-height: 1.5;
    letter-spacing: 1.19px;
}

.footer-contacts__item {

}

.footer-menu {

font-size: 18px;
line-height: 21px;
list-style-type: none;
text-align: center;
}

.footer-menu__item {

}

.footer-menu__item.active .footer-menu__item-link{
text-decoration: none;
}

.footer-menu__item-link {

}

.footer-socials {

}

.footer-socials__item {

}

.footer-socials__item img {
    width: 48px;
    margin-left: 48px;
}